<div class="section-header">
  <h1>모든 게시물</h1>
</div>
<div class="posts-grid">
  <% if (posts.length===0) { %>
    <p>게시물이 없습니다.</p>
    <% } else { %>
      <% posts.forEach(function(post) { %>
        <a href="/post/<%= post.id %>" class="post-card">
          <div class="post-card-left">
            <div class="post-date-large">
              <%= post.createAt.toLocaleDateString('ko-KR', { year: 'numeric' , month: 'long' , day: 'numeric' }) %>
            </div>
          </div>
          <div class="post-card-right">
            <h3 class="post-title">
              <%= post.title %>
            </h3>
            <div class="post-tags">
              <% if (post.tags && post.tags.length) { %>
                <% post.tags.forEach(tag=> { %>
                  <span class="post-tag">
                    <%= tag %>
                  </span>
                  <% }) %>
                    <% } else { %>
                      <span class="post-tag">FEATURE</span>
                      <% } %>
            </div>
          </div>
        </a>
        <% }); %>
          <% } %>
</div>