<ul id="messages"></ul>
<form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    var messages = document.getElementById("messages");
    var form = document.getElementById("form");
    var input = document.getElementById("input");

    form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
            socket.emit("chat message", input.value);
            input.value = "";
        }
    });

    socket.emit("login", {
        name: makeRandomName()
    });

    socket.on("login", function (data) {
        var userItem = document.createElement("li");
        userItem.textContent = data;
        userItem.style.backgroundColor = "#ccffcc"; // 초록 계열 배경색
        messages.appendChild(userItem);
        messages.scrollTop = messages.scrollHeight;
    });

    socket.on("chat history", function (history, username) {
        history.forEach(msg => {
            var item = document.createElement("li");
            item.textContent = msg;
            messages.appendChild(item);
        });
        messages.scrollTop = messages.scrollHeight;
    });

    socket.on("chat message", function (msg) {
        var item = document.createElement("li");
        console.log(msg);
        item.textContent = msg;
        messages.appendChild(item);
        messages.scrollTop = messages.scrollHeight;
    });

    socket.on("disconnectUser", function (data) {
        var userItem = document.createElement("li");
        userItem.textContent = data;
        userItem.style.backgroundColor = "#ffcccc"; // 빨강계열 배경색
        messages.appendChild(userItem);
        messages.scrollTop = messages.scrollHeight;
    });

    function makeRandomName() {
        return "User" + Math.floor(Math.random() * 100);;
    }
</script>