<div id="chat-box">
    <div id="messages"></div>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var username = makeRandomName();

    var messages = document.getElementById("messages");
    var form = document.getElementById("form");
    var input = document.getElementById("input");

    form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
            socket.emit("chat message", { msg: input.value, user: username });
            input.value = "";
        }
    });

    socket.on("redirect", function (url) {
        alert("인원이 가득이 가득 찼습니다.\n나중에 다시 시도해주세요.");
        window.location.href = url;
    });

    socket.emit("login", {
        name: username
    });

    socket.on("login", function (data) {
        var userItem = document.createElement("div");
        userItem.textContent = data;
        userItem.className = "msg-in msg-status";
        messages.appendChild(userItem);
        messages.scrollTop = messages.scrollHeight;
    });

    socket.on("login-success", function(user){
        username = user;
        console.log(username);
    })

    socket.on("chat history", function (history) {
        history.forEach(msg => {
            let item = document.createElement("div");
            let owner = msg.user == username ? "msg-sent" : "msg-receive";
            item.textContent = msg;
            item.className = "msg " + owner;
            messages.appendChild(item);
        });
        messages.scrollTop = messages.scrollHeight;
    });

    socket.on("chat message", function (data) {
        console.log(data);
        var item = document.createElement("div");
        let owner = data.user == username ? "msg-sent" : "msg-receive";
        item.textContent = data.msg;
        item.className = "msg " + owner;
        messages.appendChild(item);
        messages.scrollTop = messages.scrollHeight;
    });

    socket.on("disconnectUser", function (data) {
        var userItem = document.createElement("div");
        userItem.textContent = data;
        userItem.className = "msg-out msg-status";
        messages.appendChild(userItem);
        messages.scrollTop = messages.scrollHeight;
    });

    function makeRandomName() {
        return "User" + Math.floor(Math.random() * 100);;
    }
</script>