#chat-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#messages {
    display: flex;
    flex-direction: column;
    gap:7px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    background-color: #fff;
    height: 80vh;
    overflow-x: hidden;
}

.msg-container {
    max-width: 70%;
}

.msg {
    max-width: 100%;
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    background-color: #e1f5fe; /* 메시지 배경색 */
    word-wrap: break-word;
}

.msg-sent {
    align-self: flex-end;
    color: #333;
    text-align: right;
}

.msg-sent > .msg {
    background-color: #dcf8c6;
}

.msg-receive {
    align-self: flex-start;
    color: #333;
    text-align: left;
}

.msg-status {
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 0.8rem;
}

.msg-in {
    background-color: #ccffcc;
}

.msg-out {
    background-color: #ffcccc;
}

form {
    display: flex;
    padding: 10px;
    background-color: #fff;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* 버튼 배경색 */
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* 버튼 호버 색상 */
}